@using WordCounter.Models;

<h2>Sentence: @Model.GetSentence()</h2>
<h2>Word: @Model.GetWord()</h2>
<h2>Result: @Model.DoWordsMatch( inputSentence, inputWord, wordCount)</h2>

<a href="/game/new">New Game</a>