<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
  </head>
  
  <body>
    <h1>Word Counter</h1>
    <form action="/game" method="post">

      <label for="inputSentence">Sentence:</label>
      <input id="inputSentence" name="inputSentence" type="text" required>

      <label for="inputWord">Word:</label>
      <input id="inputWord" name="inputWord" type="text" required>

      <button type="submit">Submit</button>

    </form>
  </body>
</html>