<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
  </head>
  
  <body>
    <h1>Word Counter</h1>
    <form action="/game" method="post">

      <label for="sentence">Sentence:</label>
      <input id="sentence" name="sentence" type="text" required>

      <label for="word">Word:</label>
      <input id="word" name="word" type="text" required>

      <button type="submit">Submit</button>

    </form>
  </body>
</html>